.title-home-display {
  color: white;
  font-family: 'Kanit', sans-serif;

}

.nav-text {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.active {
  color: #40BFFF !important;

}

.card-search {
  height: 4em;
  display: flex;
}

.bg-search {
  background-color: white;
  width: 90%;
  height: 4em;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.bg-search-2 {
  background-color: #494CA3;
  width: 10%;
  height: 4em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.search-display {
  display: flex;
  margin-bottom: 12px;
}

.menu-bar {
  background-color: #F2F2F2;
  width: 100%;
  height: 9em;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 5em;
  padding-top: 3em;
}

.menu-button {
  width: 14em;
  height: 10em;
  background-color: aliceblue;
  border: solid 1px;

}

.menu-bar-g {
  display: flex;
}

.text-menu {
  font-size: 20px;
}

p {
  margin-top: 10px !important;
  margin-bottom: 0rem !important;
}

.text-search-btn {
  margin-top: 22px;
  color: white;
}

.text-search-input {
  margin-top: 22px;
  margin-left: 3em;
  color: darkgrey;
}

.count-data {
  margin-bottom: 10px;
}

.card-data {
  height: 1em !important;
}

#notes {
  line-height: 16px !important;
}

.img_ori {
  padding: 4.3px;
  width: 40px;
  height: 36px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 4px;
}




.load-more {
  font-family: 'Kanit', sans-serif;
  background-color: #494CA3;
  font-size: 18px;
  color: white;
  padding: 0.4em;
  text-align: center;
  border-radius: 7px;
  border: none;
  width: 9em;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 5%;

}

.load-more:hover {
  color: white;
  text-decoration: none;
}

.loadmorebtn {
  margin-top: 2em !important;
  margin-bottom: 3em !important;
  text-align: center;
}

.column {
  height: 100%;
}

.col-md-4 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  display: none;
}

#searchText {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  border-radius: 10px;
  font-size: 21px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#searchBtn {
  font-family: 'Kanit', sans-serif;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #494CA3;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 19px;
  padding-top: 4px;
}

#searchBtn:focus {
  outline: none;
}

.div-logo {
  display: flex;
  margin-left: 2%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 3em;
  right: 4em;
  display: none;
  background-color: #494CA3 !important;
  width: 70px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.col-img-ower {
  margin-right: 10px;
  overflow: hidden;
}

.display-api {
  padding-left: 15%;
  padding-right: 15%;
}

.content-col {
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Kanit', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 240px;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .col-menu {
    width: 35%;
  }

  .menu-bar {
    height: 15em;
  }

  .bg-search {
    width: 75%;
  }

  .bg-search-2 {
    width: 25%;
  }

  body {
    width: 110%;
  }

  .img-home {
    width: 100%;
  }

  .api-dispaly {
    width: 100%;
  }

}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 10px 30px;
  color: #2f2f2f;
  background-color: #F2F2F2;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
  font-size: 14px;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.icon-search {
  margin-right: 5%;
}



@media screen and (max-width: 650px) {
  .col-menu {
    width: 35%;
  }

  .menu-bar {
    height: 15em;
  }

  .bg-search {
    width: 75%;
  }

  .bg-search-2 {
    width: 25%;
  }

  body {
    width: 110%;
  }

  .img-home {
    width: 100%;
  }

  .api-dispaly {
    width: 100%;
  }

  .label-count-data {
    margin-left: 5%;
  }

}

@media screen and (max-width: 940px) {

  .display-api {
    padding-left: 4%;
    padding-right: 4%;
  }

  .label-count-data {
    margin-left: 5% !important;
  }

}

.btn-playground {
  text-transform: uppercase;
  border: 0;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  font-weight: 500;
  padding: 10px;
  font-size: .75rem;
  line-height: 1.5;
  background-color: #494CA3;
  border-radius: 4px;

  color: #fff;
}

.label-count-data {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold !important;
  color: #002147;
}

.label-count-data-2 {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold !important;
  margin-left: 4%;
  color: #002147;
  width: 5em;
}

.row-sumapi {
  display: flex;
  width: 100%;
  padding-left: 15.5%;
}

#dataresult {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: bold !important;
  color: #002147;
  margin-left: 5px;
}

#alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
  width: 97%;
  margin-left: 1.5%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  font-family: 'Kanit', sans-serif;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}